$bodyColor: rgb(244, 244, 249);
$blueColor: rgb(54, 16, 106);
$lightColor: rgb(255, 255, 255);
$shadowColor: rgb(211, 198, 215);
$infoIconColor: rgba(255, 255, 255, 0.618);
$hrColor: rgba(132, 132, 221, 0.618);
$labelColor: rgb(54, 43, 180);
$hoverColor: rgb(33, 242, 33);
$layout-breakpoint-small: 500px;