@import './_variable.scss';
@import './_mixin.scss';

body {
    background-color: $bodyColor;
}

.container {
    @include container();

    .left_col {
        @include left_col();
        background-color: $blueColor;

        .info {
            @include info();
            padding-right: 5px;

            h1 {
                font-family: monospace;
                font-size: 1.8rem;
                margin-top: 20px;
                margin-left: 18px;
            }

            .personal_info {
                @include personal_info();

                .personal {
                    @include personal_info();

                    .personal_icon {
                        @include personal_icon();

                        i {
                            margin-top: 20px;
                            margin-left: 18px;
                            color: $infoIconColor;
                        }

                        p {
                            margin-top: 20px;
                            margin-left: 10px;
                            color: $infoIconColor;
                        }
                    }

                    p {
                        margin-top: 0px;
                        margin-left: 18px;
                        color: $lightColor;
                        font-family: monospace;
                    }
                }
            }
        }

        .icons {
            @include personal_icon();
            margin-top: 120px;
            margin-left: 20px;

            i {
                margin-left: 10px;
                color: $lightColor;
            }
        }
    }

    .right_col {
        @include right_col();
        background-color: $lightColor;

        h1 {
            font-family: monospace;
            font-size: 1.8rem;
            margin-top: 20px;
            margin-left: 28px;
            color: $blueColor;
        }

        .hr {
            width: 420px;
            height: 1px;
            margin-left: 28px;
            margin-right: 40px;
            background-color: $hrColor;
        }

        .form {
            @include form();
            width: 420px;
            height: 420px;
            margin-left: 28px;
            margin-right: 40px;

            label {
                margin-bottom: 5px;
                margin-top: 18px;
                color: $labelColor;
            }

            input {
                border-color: $hrColor;
                border-radius: 5px;
                height: 55px;
            }

            .message {
                height: 100px;
            }

            button {
                background-color: $blueColor;
                border: none;
                border-radius: 5px;
                color: $lightColor;
                height: 60px;
                margin-top: 20px;
                font-size: 18px;

                &:hover {
                    cursor: pointer;
                    background-color: $hoverColor;
                    color: $blueColor;
                }
            }

        }
    }
}

@media (max-width: $layout-breakpoint-small) {
    .container {
        flex-direction: column;
        width: 375px;
        align-items: center;
        overflow-x: hidden;
        margin: 0px;

        .left_col {
            .icons {
                margin-top: 20px;

                a {
                    i {
                        font-size: 10px;
                        margin-bottom: 5px;
                    }
                }
            }
        }

        .personal {
            justify-content: center;

            a {
                p {
                    font-size: 8px;
                }
            }
        }

        .right_col {
            justify-content: center;
        }

        input,
        button {
            width: 150px;
        }

        .hr {
            display: none;
        }
    }
}